/*this is the main css file*/
/*define a grip system for wishlist container*/
.container{
  display: grid;
  grid-template-columns:0.7fr 20px 0.3fr;

}

.general-list-style{
  background-color: #dcc982;
  color: #333;
  border-radius: 5px;
  padding: 20px;
  font-size: 10px;
  position:relative;
}

#wishlist-container{
  grid-column: 1/2;
  display:grid;
  grid-template-columns: repeat(3,250px);
  grid-gap: 10px;
	/*grid-template-columns: repeat(3, 250px);*/
}
/*style of saved list*/
#saved-list-container{
  grid-column: 3/4;
  display:grid;
  grid-template-columns:repeat(1,250px);
  grid-gap: 10px;
  /*grid-auto-rows: 260px ;*/
}
/*style of wishlist*/
/*.mainWishlistDivs {
  background-color: #dcc982;
  color: #333;
  border-radius: 5px;
  padding: 20px;
  font-size: 10px;

}*/

/*style of cross button*/
.cross-button{
  display:inline-block;
  font-size: 8px;
  height:20px;
  position:absolute;
  border: 1px solid black;
  border-radius: 10px;
  top:10px;
  right:10px;
  padding: 4px 6px 4px 6px;
}
.cross-button:hover{
  cursor:pointer;
}
